*.a
*.bin
*.map
*.png
*.log
*.elf
*.hex
*.ihex
obj_*
symbols.*
Makefile.target
doc/html
patches-*
tools/tunslip6

*.dep

*.scvd

project/MDK-ARM(uV4)/Flash
project/MDK-ARM(uV4)/CpuRAM
project/MDK-ARM(uV4)/ExtSRAM
project/MDK-ARM(uV4)/*.bak
project/MDK-ARM(uV4)/*.dep
project/MDK-ARM(uV4)/JLink*
project/MDK-ARM(uV4)/project.uvgui.*
project/MDK-ARM(uV4)/project.uvguix.*

MDK-ARM/cubeF103test
MDK-ARM/CpuRAM
MDK-ARM/ExtSRAM
MDK-ARM/*.bak
MDK-ARM/*.dep
MDK-ARM/JLink*
MDK-ARM/project.uvgui.*
MDK-ARM/project.uvguix.*

project/EWARMv7/Project.dep
project/EWARMv7/Flash
project/EWARMv7/CpuRAM
project/EWARMv7/settings
project/EWARMv7/Flash
project/EWARMv7/CpuRAM
project/EWARMv7/settings